h1{
		text-align: center;
		color:#00ffff;
		font-family: Arial;
	}
	p{
		color:#0000ff;
		font-family: sans-serif;
	}
	h2{
		text-align: left;
		color:rgb(255,51,255);
	}
	cite{
		color:rgb(255,255,255);
	}
	hr{
		background-color:rgb(255,0,0);
		height: 0.1em;
		width: 30em;

	}
body {
background-image: url("peper.jpg");

}