#Caja1 {
	background-color: #01A9DB;
	width: 200px;
	height: 150px;
}

#Caja2 {
	background-color: #01A9DB;
	width: 200px;
	height: 150px;
}

#Caja3 {
	background-color: #01A9DB;
	width: 200px;
	height:150px;
}

#Caja4 {
	background-color: #01A9DB;
	width: 200px;
	height: 250px;
}

#Caja5 {
	background-color: #01A9DB;
	width: 200px;
	height: 200px;
}

#Caja6 {
	background-color: #01A9DB;
	width: 200px;
	height: 200px;
}

#Caja7 {
	background-color: #01A9DB;
	width: 200px;
	height: 200px;
}